<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Gupea</h1>
          <p class="lead">Gothenburg University Publications Electronic Archive</p>
        </div>
      </div>
      <p>Gothenburg University Publications Electronic Archive (GUPEA) is a platform for e-publishing of theses, student essays, and other research publications.</p>
      <ul>
        <li>easily ingest documents, audio, video, datasets and their corresponding Dublin Core
          metadata
        </li>
        <li>open up this content to local and global audiences, thanks to the OAI-PMH interface and
          Google Scholar optimizations
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and DataCite DOI
        </li>
      </ul>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin&#64;gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin&#64;gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin&#64;gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit&#64;gmail.com</li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/gupea/images/banner.webp 2000w, assets/gupea/images/banner-half.webp 1200w, assets/gupea/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/gupea/images/banner.jpg 2000w, assets/gupea/images/banner-half.jpg 1200w, assets/gupea/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/gupea/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages" role="link" tabindex="0">&#64;inspiredimages</a></small>
</div>
